<!-- footer.html -->
<footer class="footer">
    <div class="footer-contenido">
        <p>&copy; 2024 Infinity Byte League | Todos los derechos reservados.</p>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61568204116183" target="_blank" class="social-icon facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/ibl_market_tech?igsh=MWRjcjNvc2x3bm9neg==" target="_blank" class="social-icon instagram" title="Instagram"><i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
<script src="./js/plantilla.js"></script>