<header>
    <!-- Menú Fijo -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="./src/img/Logo/LOGO_OFICIAL.jpg" alt="Logo Empresa" class="d-inline-block align-text-center">
                IBL
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menú -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html"> <i class="fa-solid fa-house"></i> Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="acerca_nosotros.html"><i class="fa-solid fa-users"></i> Acerca de nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="productos.html"><i class="fa-solid fa-magnifying-glass"></i> Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="contactanos.html"><i class="fa-regular fa-address-book"></i> Contáctanos</a></li>
                </ul>
                <!-- Barra de búsqueda -->
                <!-- <form class="d-flex ms-auto" id="search-form">
                    <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Search" id="search-input">
                    <button class="nav-link" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form> -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="carrito.html"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUser">
                            <li><a class="dropdown-item" href="login.html">Login</a></li>
                            <li><a class="dropdown-item" href="registro.html">Regístrate!</a></li>
                            <li><a class="dropdown-item" href="#configuracion">Configurar Usuario</a></li>
                            <li><a class="dropdown-item" href="#logout">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="boton-tema">
                            <span class="material-symbols-outlined" style="font-size: 24px;" title="Cambiar Tema">
                                routine
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>